{% extends "base.html" %}
{% block content %}

<p class="title is-5"><b>Xem hóa đơn</b></p>
<table class="table is-fullwidth is-hoverable is-bordered is-striped">
  <thead class="has-background-light" style="position: sticky; top: 0;">
    <tr>
      <th><abbr title="code">Mã đơn</abbr></th>
      <th><abbr title="name">Thời gian</abbr></th>
      <th><abbr title="type">Kê đơn</abbr></th>
      <th><abbr title="price">Hoàn thành</abbr></th>
      <th><abbr title="quantity">Nhân viên</abbr></th>
      <th><abbr title="location">Khách hàng</abbr></th>
      <th><abbr title="amount">Tổng hóa đơn</abbr></th>
    </tr>
  </thead>
  <tbody>
    {%for thuoc in list_bill_sumary%}
    <tr>
      <td>{{thuoc.bill_id}}</td>
      <td>{{thuoc.bill_time}}</td>
      {%if thuoc.bill_prescripted == true%}
      <td>Kê đơn</td>
      {%else%}
      <td>Không kê đơn</td>
      {%endif%}

      {%if thuoc.bill_done == true%}
      <td>Đã hoàn thành</td>
      {%else%}
      <td>Chưa hoàn thành</td>
      {%endif%}

      <td>{{thuoc.staff_name}}</td>
      <td>{{thuoc.customer_name}}</td>
      <td>{{thuoc.bill_amount}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{% endblock content %}
