{% extends "base.html" %}
{% block content %}

<p class="title is-5"><b>Lập hóa đơn</b></p>

<form action="" method="get">
  <div class="columns is-multiline is-vcentered">

    <div class="column is-1">
      <label class="label">Nhân viên:</label>
    </div>
    <div class="column is-3">
      <div class="control">
        <div class="select">
          <select name="staff_id">
            <option value="{{staff_id}}">{{staff_name}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="column is-1 ">
      <label class="label">Mã HD:</label>
    </div>
    <div class="column is-2">
      <input class="input" type="text" placeholder="{{bill_id}}" name="bill_id" value="{{bill_id}}">
    </div>

    <div class="column is-1">
      <label class="label">Ngày:</label>
    </div>
    <div class="column is-2">
      <input class="input" type="date" placeholder="{{current_time}}" name="date" value="{{date}}">
    </div>


    <div class="control">
      <div class="select">
        <select name="bill_prescripted">
          <option value="yes">Kê đơn</option>
          <option value="no">Không kê đơn</option>
        </select>
      </div>
    </div>

    <div class="column is-1">
      <label class="label">Ten KH:</label>
    </div>
    <div class="column is-3">
      <input class="input" type="text" name="customer_name" placeholder="Nhập tên khách hàng" value="{{customer_name}}">
    </div>

    <div class="column is-1 ">
      <label class="label">SDT:</label>
    </div>
    <div class="column is-2">
      <input class="input" type="text" placeholder="Nhập số điện thoại" name="customer_phone"
        value="{{customer_phone}}">
    </div>


    <button class="js-modal-trigger button is-info " data-target="modal-js-example">
      Tạo hóa đơn
    </button>
  </div>
  <div class="table-container" style="overflow: scroll; height: 400px;">
    <table class="table is-fullwidth is-hoverable is-bordered is-striped">
      <thead class="has-background-light" style="position: sticky; top: 0;">
        <tr>
          <th><abbr title="code">Mã thuốc</abbr></th>
          <th><abbr title="name">Tên thuốc</abbr></th>
          <th><abbr title="type">Loại thuốc</abbr></th>
          <th><abbr title="price">Gía tiền</abbr></th>
          <th><abbr title="quantity">Số lượng</abbr></th>
          <th><abbr title="location">Vị Trí </abbr></th>
        </tr>
      </thead>
      <tbody>
        {%for thuoc in danhsach%}
        <tr>
          <td>{{thuoc.medicine_id}}</td>
          <td>{{thuoc.medicine_name}}</td>
          <td>{{thuoc.medicine_type}}</td>
          <td>{{thuoc.medicine_price}}</td>
          <td>{{thuoc.medicine_quantity}}</td>
          <td>{{thuoc.medicine_location}}</td>
        </tr>
        {%endfor%}
        <tr>
          <td><input class="input" type="text" name="medicine_id"></td>
          <td><input class="input" type="text" name="medicine_name"></td>
          <td></td>
          <td><input class="input" type="text" name="medicine_price"> </td>
          <td><input class="input" type="text" name="medicine_quantity" value="1"> </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
{% endblock content %}
