{% extends "base.html" %}
{% block content %}

<p class="title is-5"><b>Lập hóa đơn</b></p>
<div class="block">
  <form action="" method="get">
    <div class="columns is-multiline is-vcentered">
      <div class="column is-2">
        <label class="label">Nhân viên:</label>
        <div class="control">
          <div class="select">
            <select name="staff_username">
              <option value="{{staff_username}}">{{staff_fullname}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="column is-2">
        <label class="label">Mã HD:</label>
        <input class="input" type="text" placeholder="{{bill_id}}" name="bill_id" value="{{bill_id}}">
      </div>

      <div class="column is-2">
        <label class="label">Ngày:</label>
        <input class="input" type="date" name="date" value="{{date}}">
      </div>


      <div class="column is-2">
        <div class="control">
          <label class="label">Kê đơn:</label>
          <div class="select">
            <select name="bill_prescripted" onchange="this.form.submit()">
              {%if bill_prescripted == 'yes' %}
              <option value="yes">Kê đơn</option>
              <option value="no">Không kê đơn</option>
              {%else%}
              <option value="no">Không kê đơn</option>
              <option value="yes">Kê đơn</option>
              {%endif%}
            </select>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="dropdown " id="dropdown_control">
          <div class="dropdown-trigger">
            <div class="field">
              <label class="label">Tim kiem:</label>
              <p class="control is-expanded has-icons-right">
                <input id="search_medicine" class="input" type="search" placeholder="Search..." oninput="out_input()" />
                <span class="icon is-small is-right"><i class="fas fa-search"></i></span>
              </p>
            </div>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content" id="dropdown_search" style="max-height: 300px; overflow: auto">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="table-container" style="overflow: scroll; height: 400px;">
  <table class="table is-fullwidth is-hoverable is-bordered is-striped">
    <thead class="has-background-light" style="position: sticky; top: 0;">
      <tr>
        <th><abbr title="code">Mã thuốc</abbr></th>
        <th><abbr title="name">Tên thuốc</abbr></th>
        <th><abbr title="type">Loại thuốc</abbr></th>
        <th><abbr title="price">Giá tiền</abbr></th>
        <th><abbr title="quantity">Số lượng</abbr></th>
        <th><abbr title="location">Vị Trí </abbr></th>
      </tr>
    </thead>
    <tbody>
      {%for thuoc in danhsach%}
      <form action="">
        <tr>
          <td>{{thuoc.medicine_id}}</td>
          <td>{{thuoc.medicine_name}}</td>
          <td>{{thuoc.medicine_type}}</td>
          <td> <input type="number" name="edit_medicine_price" value="{{thuoc.medicine_price}}"
              onchange="this.form.submit()"></td>
          <td> <input type="number" name="edit_medicine_quantity" value="{{thuoc.medicine_quantity}}"
              onchange="this.form.submit()"></td>
          <td>{{thuoc.medicine_location}}</td>
          <input type="hidden" class="input" type="text" name="bill_id" value="{{bill_id}}">
          <input type="hidden" class="input" type="text" name="staff_username" value="{{staff_username}}">
          <input type="hidden" class="input" type="text" name="bill_prescripted" value="{{bill_prescripted}}">
          <input type="hidden" class="input" type="text" name="edit_medicine_id" value="{{thuoc.medicine_id}}">
        </tr>

      </form>

      {%endfor%}
      <!--<tr>
          <td><input class="input" type="text" name="medicine_id"></td>
          <td><input class="input" type="text" name="medicine_name" list="medicine_name_input"></td>
          <td></td>
          <td><input class="input" type="text" name="medicine_price"> </td>
          <td><input class="input" type="text" name="medicine_quantity" value="1"> </td>
          <td></td>
        </tr>-->
    </tbody>
  </table>

</div>

<form id="add_form">
  <input type="hidden" class="input" type="text" name="bill_id" value="{{bill_id}}">
  <input type="hidden" class="input" type="text" name="staff_username" value="{{staff_username}}">
  <input type="hidden" class="input" type="text" name="bill_prescripted" value="{{bill_prescripted}}">
  <input type="hidden" class="input" type="text" name="medicine_id" id="medicine_id">
  <input type="hidden" class="input" type="text" name="medicine_price" id="medicine_price">
  <input type="hidden" class="input" type="text" name="medicine_quantity" value="1">
</form>

<button class="button is-large is-inverted js-modal-trigger" style="width: 100%;" data-target="modal-js-example">
  <span class="icon is-large">
    <i class="fas fa-user"></i>
  </span>
  <span> Khách hàng </span>
</button>


<form action="/new_bill">
  <div class="modal" id="modal-js-example">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Checkout</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <input type="hidden" name="bill_id" value="{{bill_id}}">
        <div class="columns is-multiline">
          <div class="column is-6">
            <div class="field">
              <label class="label">Tên Khách hàng</label>
              <div class="control">
                <input class="input" type="text" placeholder="Nhập tên" name="customer_name" value="{{customer_name}}">
              </div>
            </div>
          </div>

          <div class="column is-6">
            <div class="field">
              <label class="label">Số điện thoại</label>
              <div class="control">
                <input class="input" type="text" placeholder="Số điện thoại" name="customer_phone"
                  value="{{customer_phone}}">
              </div>
            </div>
          </div>
          <div class="column is-10">
            <div class="field">
              <label class="label">Địa chỉ</label>
              <div class="control">
                <input class="input" type="text" placeholder="Nhập vị trí" name="customer_address">
              </div>
            </div>
          </div>


      </section>
      <footer class="modal-card-foot">
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" type="submit">Hoàn tất ({{bill_amount}}VND)</button>
          </div>
          <div class="control">
            <button class="button is-link is-light" type="reset">Hủy</button>
          </div>
        </div>
      </footer>
    </div>
  </div>
</form>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Functions to open and close a modal
    function openModal($el) {
      $el.classList.add('is-active');
    }

    function closeModal($el) {
      $el.classList.remove('is-active');
    }

    function closeAllModals() {
      (document.querySelectorAll('.modal') || []).forEach(($modal) => {
        closeModal($modal);
      });
    }

    // Add a click event on buttons to open a specific modal
    (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
      const modal = $trigger.dataset.target;
      const $target = document.getElementById(modal);

      $trigger.addEventListener('click', () => {
        openModal($target);
      });
    });

    // Add a click event on various child elements to close the parent modal
    (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
      const $target = $close.closest('.modal');

      $close.addEventListener('click', () => {
        closeModal($target);
      });
    });

    // Add a keyboard event to close all modals
    document.addEventListener('keydown', (event) => {
      const e = event || window.event;

      if (e.keyCode === 27) { // Escape key
        closeAllModals();
      }
    });
  });
</script>

<script>

  function submit_medicine(medicine_id, medicine_price) {
    document.getElementById("medicine_id").value = medicine_id;
    document.getElementById("medicine_price").value = medicine_price;
    document.getElementById("add_form").submit();

  }
  function out_input() {
    let input = document.getElementById("search_medicine");
    let parent = document.getElementById("dropdown_search");
    if (input.value == "") {
      document.getElementById("dropdown_control").classList.remove("is-active");
    } else {
      document.getElementById("dropdown_control").classList.add("is-active");
    }
    var children = parent.children;

    for (var i = 0; i < children.length; i++) {
      var child = children[i];

      const text = child.innerText.toLowerCase();
      const match = input.value.toLowerCase();

      if (text.includes(match)) {
        console.log(child.innerText);
        child.style.display = "block";
      } else {
        child.style.display = "none";
      }
    }
  }

  fetch('/find_drug?medicine_name=')
    .then(res => res.json())
    .then((out) => {
      out.forEach(e => {
        let ele = document.createElement("a");
        ele.classList.add("dropdown-item");
        ele.innerText = e.medicine_name;
        ele.id = "item-" + e.medicine_id;
        console.log(e.medicine_price);
        ele.addEventListener("click", function () { submit_medicine(e.medicine_id, e.medicine_price) });
        document.getElementById("dropdown_search").appendChild(ele);
      })
    }).catch(err => console.error(err));
</script>
{% endblock content %}