<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assert/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <style>
    html {
      height: 100vh;
      width: 100vw;
    }

    body {
      height: 100%;
      width: 100%;
    }

    .columns {
      height: 100%;
    }

    .column.no-scroll {
      overflow: auto;
    }

    .column.logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .placeholder {
      background-color: cyan;
      margin: 2rem;
      height: 250px;
    }
  </style>
</head>

<body>
  <div class="columns is-gapless">

    <div class=" column is-2">

      <div class="panel box is-info" style="box-shadow: none;">
        <p class="panel-heading">
          Menu
        </p>
        <a class="panel-block" href="/new_bill">
          <span class="panel-icon">
            <i class="fas fa-plus" aria-hidden="true"></i>
          </span>
          Tạo hóa đơn
        </a>
        <a class="panel-block " href="/manage">
          <span class="panel-icon">
            <i class="fas fa-table" aria-hidden="true"></i>
          </span>
          Quản lý thuốc
        </a>
        <a class="panel-block " href="/staff">
          <span class="panel-icon">
            <i class="fas fa-user" aria-hidden="true"></i>
          </span>
          Nhân viên
        </a>
        <a class="panel-block " href="/finance">
          <span class="panel-icon">
            <i class="fas fa-coins" aria-hidden="true"></i>
          </span>
          Tài chính
        </a>
        <a class="panel-block " href="/customer">
          <span class="panel-icon">
            <i class="fas fa-book" aria-hidden="true"></i>
          </span>
          Khách hàng
        </a>
        <a class="panel-block" href="/statistic">
          <span class="panel-icon">
            <i class="fas fa-chart-line" aria-hidden="true"></i>
          </span>
          Thống kê
        </a>
      </div>
    </div>



    <div class="column" style="overflow: auto; border-left: 1px #9d9d9d solid">
      <div class="navbar" style="border-bottom: 1px #9d9d9d solid; position: sticky; top: 0;">

        <div class="navbar-brand">
          <div class="navbar-item">
            <a href="/" class="subtitle"> Phamacy </a>
          </div>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start"></div>

          <div class="navbar-end">
            {% if username is defined %}

            <form action="/login" method="post">
              <div class="field is-horizontal">
                <input type="hidden" name="username" value="{{username}}" class="navbar-item">

                <div class="navbar-item">
                <a class="subtitle navbar-item"> {{username}} </a>
                </div>
                <div class="navbar-item">
                  <button placeholder="bobsmith" class="button" required name="submit" value="logout">
                    Logout
                  </button>
                </div>
              </div>
            </form>
            {% else %}
            {% endif %}
          </div>
        </div>
      </div>

      <div class="box container" style="height: 92%;">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>

</body>

</html>
