{% extends "base.html" %}
{% block content %}

<p class="title is-5"><b>Danh sách thuốc</b></p>
<div class="level">
  <div class="level-left">
    <form action="" method="get">
      <div class="field has-addons">
        <div class="control">
          <input class="input" type="text" placeholder="Nhập Mã, Tên thuốc" name="name">
        </div>
        <div class="control">
          <div class="select">
            <select name="medicine_type_query">
              <option value="">Loại thuốc</option>
              {%for drug_type in medicine_type_list %}
              <option>{{drug_type}}</option>
              {%endfor%}
            </select>
          </div>
        </div>

        <div class="control">
          <button class="button is-info p*-1" type="submit" name="submit" value="find">
            Tìm
          </button>

        </div>

      </div>
    </form>
  </div>
  <div class="level-left">
    <button class="js-modal-trigger button is-info p*-1" data-target="modal-js-example">
      Thêm Thuốc
    </button>
  </div>
</div>


</br>
<div class="table-container" style="height:80%; overflow: scroll">
  <table class="table is-fullwidth is-hoverable is-bordered is-striped">
    <thead class="has-background-light" style="position: sticky; top: 0;">
      <tr>
        <th><abbr title="id">ID</abbr></th>
        <th><abbr title="name" style="text-decoration: none;">Tên thuốc</abbr></th>
        <th><abbr title="type" style="text-decoration: none;">Loại thuốc</abbr></th>
        <th><abbr title="price" style="text-decoration: none;">Giá tiền</abbr></th>
        <th><abbr title="quantity" style="text-decoration: none;">Số lượng</abbr></th>
        <th><abbr title="location" style="text-decoration: none;">Vị trí</abbr></th>
      </tr>
    </thead>
    <tbody>
      {%for thuoc in display%}
      <tr>
        <td>{{thuoc.medicine_id}}</td>
        <td>{{thuoc.medicine_name}}</td>
        <td>{{thuoc.medicine_type}}</td>
        <td>{{thuoc.medicine_price}}</td>
        <td>{{thuoc.medicine_quantity}}</td>
        <td>{{thuoc.medicine_location}}</td>
      </tr>
      {%endfor%}

    </tbody>
  </table>
</div>

<!-- modal thêm thuốc  -->
<form action="/manage">
  <div class="modal" id="modal-js-example">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Bảng thêm thuốc</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">

        <div class="field">
          <label class="label">ID</label>
          <div class="control">
            <input class="input" type="text" placeholder="Nhập mã thuốc" name="new_medicine_id"
              value="{{new_medicine_id}}">
          </div>
        </div>
        <div class="field">
          <label class="label">Tên thuốc</label>
          <div class="control">
            <input class="input" type="text" placeholder="Nhập tên thuốc" name="new_medicine_name">
          </div>
        </div>

        <div class="level">
          <div class="level-left">
            <div class="field">
              <label class="label">Giá tiền</label>
              <div class="control">
                <input class="input" type="number" placeholder="Giá tiền" name="new_medicine_price">
              </div>
            </div>
          </div>
          <div class="level-right">
            <div class="field" style="  margin-right: 120px;">
              <label class="label">Loại thuốc</label>
              <div class="control">
                <input class="input" type="text" placeholder="Loại thuốc" name="new_medicine_type">
              </div>
            </div>
          </div>
        </div>

        <div class="level">
          <div class="level-left">
            <div class="field">
              <label class="label">Số lượng</label>
              <div class="control">
                <input class="input" type="number" placeholder="Nhập số lượng" name="new_medicine_quantity">
              </div>
            </div>
          </div>
          <div class="level-right">
            <div class="field pr-6" style="margin-right: 142px;">
              <label class="label">Ngày hết hạn</label>
              <div class="control">
                <input class="input" type="date" placeholder="Ngày hết hạn" name="new_medicine_expire_date">
              </div>
            </div>
          </div>
        </div>


        <div class="field">
          <label class="label">Vị trí </label>
          <div class="control">
            <input class="input" type="text" placeholder="Nhập vị trí" name="new_medicine_location">
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" type="submit" name="submit" value="medicine_add">Thêm thuốc</button>
          </div>
          <div class="control">
            <button class="button is-link is-light" type="reset">Hủy</button>
          </div>
        </div>
      </footer>
    </div>
  </div>
</form>
<!-- sự kiện nút thên thuốc -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Functions to open and close a modal
    function openModal($el) {
      $el.classList.add('is-active');
    }

    function closeModal($el) {
      $el.classList.remove('is-active');
    }

    function closeAllModals() {
      (document.querySelectorAll('.modal') || []).forEach(($modal) => {
        closeModal($modal);
      });
    }

    // Add a click event on buttons to open a specific modal
    (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
      const modal = $trigger.dataset.target;
      const $target = document.getElementById(modal);

      $trigger.addEventListener('click', () => {
        openModal($target);
      });
    });

    // Add a click event on various child elements to close the parent modal
    (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
      const $target = $close.closest('.modal');

      $close.addEventListener('click', () => {
        closeModal($target);
      });
    });

    // Add a keyboard event to close all modals
    document.addEventListener('keydown', (event) => {
      const e = event || window.event;

      if (e.keyCode === 27) { // Escape key
        closeAllModals();
      }
    });
  });
</script>
{% endblock content %}
