{% extends "base.html" %}
{% block content %}

<p class="title is-5"><b>Lập hóa đơn</b></p>

<form action="" method="get">
  <div class="columns is-multiline is-vcentered">

    <div class="column is-1">
      <label class="label">Nhân viên:</label>
    </div>
    <div class="column is-3">
      <input class="input" type="text" placeholder="{{bill_id}}" disabled name="staff">
    </div>

    <div class="column is-1 ">
      <label class="label">Mã HD:</label>
    </div>
    <div class="column is-2">
      <input class="input" type="text" placeholder="{{bill_id}}" disabled name="bill_id">
    </div>

    <div class="column is-1">
      <label class="label">Ngày:</label>
    </div>
    <div class="column is-2">
      <input class="input" type="text" placeholder="{{bill_id}}" disabled name="bill_id">
    </div>


    <div class="control">
      <div class="select">
        <select>
          <option>Kê đơn</option>
          <option>Không kê đơn</option>
        </select>
      </div>
    </div>

    <div class="column is-1">
      <label class="label">Ten KH:</label>
    </div>
    <div class="column is-3">
      <input class="input" type="text" placeholder="{{bill_id}}" name="customer_name">
    </div>

    <div class="column is-1 ">
      <label class="label">SDT:</label>
    </div>
    <div class="column is-2">
      <input class="input" type="text" placeholder="{{bill_id}}" name="customer_phone">
    </div>

    <div class="column is-1">
      <label class="label">Ngày sinh:</label>
    </div>
    <div class="column is-2">
      <input class="input" type="text" placeholder="{{bill_id}}" name="bill_id">
    </div>

    <div class="control">
      <div class="select">
        <select>
          <option>Gioi tinh</option>
          <option>Nam</option>
          <option>Nu</option>
        </select>
      </div>
    </div>

    <div class="column is-1 ">
      <label class="label">Dia chi:</label>
    </div>
    <div class="column is-6">
      <input class="input" type="text" placeholder="{{bill_id}}" name="customer_phone">
    </div>

    <div class="column is-1 ">
      <label class="label">So CCCD:</label>
    </div>
    <div class="column is-2">
      <input class="input" type="text" placeholder="{{bill_id}}" name="customer_phone">
    </div>

    <table class="table is-fullwidth is-hoverable is-bordered is-striped" style="overflow: auto;">
      <thead class="has-background-light">
        <tr>
          <th><abbr title="id">STT</abbr></th>
          <th><abbr title="code">Ma thuoc</abbr></th>
          <th><abbr title="name">Ten thuoc</abbr></th>
          <th><abbr title="type">Loai thuoc</abbr></th>
          <th><abbr title="price">Gia tien</abbr></th>
          <th><abbr title="quantity">So luong</abbr></th>
          <th><abbr title="import_date">Ngay nhap</abbr></th>
          <th><abbr title="location">Vi tri</abbr></th>
        </tr>
      </thead>
      <tbody>
        {%for thuoc in danhsach%}
        <tr>
          <td>{{thuoc.id}}</td>
          <td>{{thuoc.code}}</td>
          <td>{{thuoc.name}}</td>
          <td>{{thuoc.type}}</td>
          <td>{{thuoc.price}}</td>
          <td>{{thuoc.quantity}}</td>
          <td>{{thuoc.import_date}}</td>
          <td>{{thuoc.location}}</td>
        </tr>
        {%endfor%}
        
      </tbody>
    </table>
  </div>
</form>
{% endblock content %}
