{% extends "base.html" %}
{% block content %}

<p class="title is-5"><b>Quản lý nhân viên</b></p>

<div class="dropdown is-active">
  <div class="dropdown-trigger">
    <div class="field">
      <p class="control is-expanded has-icons-right">
        <input id="search_medicine" class="input" type="search" placeholder="Search..." oninput="out_input()" />
        <span class="icon is-small is-right"><i class="fas fa-search"></i></span>
      </p>
    </div>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content" id="dropdown_search" style="max-height: 300px; overflow: auto">
    </div>
  </div>
</div>

<script>

  function out_input() {
    let input = document.getElementById("search_medicine");
    let parent = document.getElementById("dropdown_search");

    var children = parent.children;

    for (var i = 0; i < children.length; i++) {
      var child = children[i];

      const text = child.innerText.toLowerCase();
      const match = input.value.toLowerCase();

      if (text.includes(match)) {
        console.log(child.innerText);
        child.style.display = "block";
      } else {
        child.style.display = "none";
      }
    }
  }

  fetch('/find_drug?medicine_name=')
    .then(res => res.json())
    .then((out) => {
      out.forEach(e => {
        let ele = document.createElement("a");
        ele.classList.add("dropdown-item");
        ele.innerText = e.medicine_name;
        ele.id = "item-" + e.medicine_id;
        document.getElementById("dropdown_search").appendChild(ele);

      })
    }).catch(err => console.error(err));
</script>

{% endblock content %}
