<form action="/manage">
  <div class="modal" id="modal-js-example">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Bảng thêm thuốc</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">

        <div class="columns is-multiline">
          <div class="column is-6">
            <div class="field">
              <label class="label">Tên thuốc</label>
              <div class="control">
                <input class="input" type="text" placeholder="Nhập tên thuốc" name="new_medicine_name">
              </div>
            </div>
          </div>
          <div class="column is-6">
            <label class="label">Thuốc kê đơn</label>
            <div class="select">
              <select name="new_medicine_prescripted">
                <option value="yes">Kê đơn</option>
                <option value="no">Không kê đơn</option>
              </select>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <label class="label">Giá tiền</label>
              <div class="control">
                <input class="input" type="number" placeholder="Giá tiền" name="new_medicine_price">
              </div>
            </div>
          </div>
      
          <div class="column is-6">
            <div class="field">
              <label class="label">Số lượng</label>
              <div class="control">
                <input class="input" type="number" placeholder="Nhập số lượng" name="new_medicine_quantity">
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="field pr-6">
              <label class="label">Ngày hết hạn</label>
              <div class="control">
                <input class="input" type="date" placeholder="Ngày hết hạn" name="new_medicine_expire_date">
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <label class="label">Mã đăng ký</label>
              <div class="control">
                <input class="input" type="text" placeholder="Mã đăng ký của thốc" name="new_medicine_quantity">
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <label class="label">Đóng gói</label>
              <div class="control">
                <input class="input" type="text" placeholder="Loại đóng gói" name="new_medicine_quantity">
              </div>
            </div>
          </div>
          <div class="column is-6"> 
            <div class="field">
              <label class="label">Nhóm thuốc</label>
              <div class="control">
                <input class="input" type="text" placeholder="Nhóm thuốc" name="new_medicine_quantity">
              </div>
            </div>
          </div>
          <div class="column is-12">
            <div class="field">
              <label class="label">Đường dùng</label>
              <div class="control">
                <input class="input" type="text" placeholder="Đường Dùng (tiêm hoặc uống hoặc bôi)" name="new_medicine_quantity">
              </div>
            </div>
          </div>
          <div class="column is-12">
            <div class="field">
              <label class="label">Hoạt chất</label>
              <div class="control">
                <input class="input" type="text" placeholder="Hoạt chất của thốc" name="new_medicine_quantity">
              </div>
            </div>
          </div>
          <div class="column is-12">
            <div class="field">
              <label class="label">Vị trí </label>
              <div class="control">
                <input class="input" type="text" placeholder="Nhập vị trí" name="new_medicine_location">
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" type="submit" name="medicine_add" value="">Thêm thuốc</button>
          </div>
          <div class="control">
            <button class="button is-link is-light" type="reset">Hủy</button>
          </div>
        </div>
      </footer>
    </div>
  </div>
</form>
