<form action="/manage">
  <div class="modal" id="modal-js-{{thuoc.medicine_id}}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Chỉnh sửa thuốc</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">

        <input class="input" type="hidden" placeholder="Nhập mã thuốc" name="new_medicine_id"
          value="{{thuoc.medicine_id}}">
        <div class="columns is-multiline">
          <div class="column is-5">

            <div class="field">
              <label class="label">Tên thuốc</label>
              <div class="control">
                <input class="input" type="text" placeholder="Nhập tên thuốc" name="new_medicine_name"
                  value="{{thuoc.medicine_name}}">
              </div>
            </div>
          </div>
          <div class="column is-5">

            <label class="label">Thuốc kê đơn</label>
            <div class="select">
              <select name="new_medicine_prescripted">
                <option value="yes">Kê đơn</option>
                <option value="no">Không kê đơn</option>
              </select>
            </div>
          </div>
          <div class="column is-5">
            <div class="field">
              <label class="label">Giá tiền</label>
              <div class="control">
                <input class="input" type="number" placeholder="Giá tiền" name="new_medicine_price"
                  value="{{thuoc.medicine_price}}">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field" style="  margin-right: 120px;">
              <label class="label">Loại thuốc</label>
              <div class="control">
                <input class="input" type="text" placeholder="Loại thuốc" name="new_medicine_type"
                  value="{{thuoc.medicine_type}}">
              </div>
            </div>
          </div>
          <div class="column is-5">
            <div class="field">
              <label class="label">Số lượng</label>
              <div class="control">
                <input class="input" type="number" placeholder="Nhập số lượng" name="new_medicine_quantity"
                  value="{{thuoc.medicine_quantity}}">
              </div>
            </div>
          </div>
          <div class="column is-5">
            <div class="field">
              <label class="label">Vị trí </label>
              <div class="control">
                <input class="input" type="text" placeholder="Nhập vị trí" name="new_medicine_location"
                  value="{{thuoc.medicine_location}}">
              </div>
            </div>

          </div>

        </div>
      </section>
      <footer class="modal-card-foot">
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" type="submit" name="medicine_edit" value="">Chỉnh sửa</button>
          </div>
          <div class="control">
            <button class="button is-danger " type="submit" name="medicine_delete" value="">Xóa</button>
          </div>
          <div class="control">
            <button class="button is-link is-light" type="reset">Hủy</button>
          </div>
        </div>
      </footer>
    </div>
  </div>
</form>
